@use "../../../colors" as colors;
@use "../../../mixins" as mixins;

section.history {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 1em;
  height: 100%;

  h1 {
    margin: 0;
    padding-bottom: 1em;
  }

  input {
    @include mixins.input();
    font-weight: bold;
    margin-bottom: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;

    li {
      box-sizing: border-box;
      padding: 0.2em;
      border: 1px solid colors.$primary-text-color;
      margin-bottom: 1em;
      transition: all 0.3s;

      p {
        margin: 0;
        color: colors.$secondary-text-color;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
