$primary-text-color: #131515;
$secondary-text-color: #2B2C28;
$error-color: #DF2935;
$light-color: #E6EED6;
$white-color: #FFFAFB;
$yellow-color: #E9B44C;
$purple-color: #5F5566;
$border-color: #e0e0e0;
$success-color: #22b62a;
